.ProductRating{
    width: 33.33333%;
    margin-top: 50px;
}

.ProductRating__main{
    padding-right:20px;
}

.ProductRating__title{
    position: relative;
    padding-bottom: 12px;
    font-size: 18px;
    color: #333;
    font-weight: 700;
}

.ProductRating__title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #f7525a;
}

.ProductRating__title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
	height: 0;
    transform: translateX(-50%);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #f7525a;
    font-size: 18px;
}

.ProductRating__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.ProductRating__item{
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-top: 12px;
}

.ProductRating__item-left{
    position: relative;
}

.ProductRating__item:hover .ProductRating__item-imghover{
    opacity: 1;
    visibility: visible;
}

.ProductRating__item-img{
    width: 80px;
    border: 2px solid #ccc;

}

.ProductRating__item-imghover{
    width: 80px;
    border: 2px solid #ccc;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
}

.ProductRating__item-right{
    margin-left: 20px;
}

.ProductRating__item-name{
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all .3s ease;
}

.ProductRating__item-name:hover{
    color: #f7525a;
}

.ProductRating__item-ratting{
    display: flex;
    margin-bottom: 8px;
    align-items: center;

}

.ProductRating__item-stars{
    display: flex;
}

.ProductRating__star{
    font-size: 20px;
    fill: #ffc107;
}

.ProductRating__item-text{
    margin-left: 8px;
    font-size: 12px;
    color: #666;
}

.ProductRating__item-price{
    display: flex;
    
}

.ProductRating__item-old{
    color: #666;
    text-decoration: line-through;
    font-weight: 700;
}

.ProductRating__item-new{
    margin-left: 10px;
    color: #f7525a;
    font-weight: 700;
}

/* MOBILE WIDTH */
@media (max-width: 320px){
    
}

/* MOBILE HEIGHT */
@media (max-width: 480px){
    
}

/* TABLET WIDTH */
@media (max-width: 600px){
    .ProductRating{
        width: 100%;
    }
}

/* TABLET HEIGHT */
@media (max-width: 820px){

    .ProductRating__title{
        font-size: 15px;
    }

    .ProductRating__item-name {
        font-size: 12px;
    }

    .ProductRating__star{
        width: 10px !important;
    }

    .ProductRating__item-text {
        font-size: 9px ;
    }

    .ProductRating__item-ratting {
        margin-bottom: 0px;
    }
}

/* TABLET BIG WIDTH */
@media (max-width: 768px){
    
}

/* TABLET BIG HEIGHT */
@media (max-width: 1024px){
    
}

/* DESKTOP */
@media (max-width: 1025px){
    
}
